.actions{
    .child.options{
        span{
            color: var(--danger);
            text-transform: capitalize;
            cursor: pointer;

            &.active{
                border-bottom: 2px solid var(--danger);
                font-weight: bolder;
            }
        }
    }
}


.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr); // Creates 4 columns of equal width
    gap: 30px; // Adjust the gap size as needed
}

.fa-heart{
    margin-left: auto;
    font-size: 1.5rem;
}