.sidebar{
    background-color: #FA6555;
    height: 100vh;
    width: 100%;

    .header{
        padding-top: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .body{
        padding-top: 5vh;
        padding-left: 2vh;
        padding-right: 2vh;
        
        ul li{
            cursor: pointer;
            background: url('/assets/images/card-pokeball.svg') no-repeat right bottom;
            background-size: contain; // Make sure the pokeball image covers the container
            display: inline-block; // Treat the div as an inline element for centering
            position: relative;
            margin-top: 3vh;

            height: 70px;
            border-radius: 15px;
            padding-top: 3vh;

            span{
                color: white;
                font-weight: bolder;
            }
        }
    }
}

